.cardS {
  height: 450px;
  /* width: 25%; */
  overflow: hidden;
  transition: 2s linear ease-in-out;
  /* border: 1px solid white; */
  box-shadow: 5px 5px 5px rgb(199, 198, 198);
  /* margin-top: 100px; */
  /* border: 3px solid black; */
}

.cardI {
  height: 78%;
  overflow: hidden;
}
.cardI #productImage {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}
.cardB {
  color: black;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.cardText,
.cartT {
  padding-left: 10px;
  text-align: start;
}
/* .cardText{
    align-items: end;
} */
.cardButtonClass {
  padding-right: 10px;
  display: flex;
  justify-content: center;
}
.allProducts {
  padding: 20px;
  row-gap: 30px;
  /* border: 3px solid black; */
  height: max-content;
}
#name {
  font-weight: bold;
  font-size: 19px;
}
#price {
  font-size: 15px;
}




@media screen and (max-width: 700px) {
  .allProducts {
    /* display: block !important; */
     display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
   .cardS {
    height: 300px;
  } 
  .cardI {
    height: 70%;
    overflow: hidden;
  }
  #addToCartButton{
    width: max-content !important;
  }
  .allProducts {
    padding: 5px !important;
    row-gap: 5px !important;
    /* border: 3px solid black; */
    height: max-content;
}
}
